<%- include("./partials/header") %>


<div class="jumbotron">
		<div class="container blurb">
			<h1 class="about">
				<i class="fas fa-hiking"></i> Hiking the World
			</h1>
			<h4 class="about">
				About Us
			</h4>
			<hr>
			<p class="size">Hi! I'm Vanessa. I love hiking, and created this platform for all avid hikers to share their adventures. Browse through our growing collection of hikes, and sign up to share your favourite hikes with the world!</p>
				<p class="size">Take a walk on the wild side, and join our growing community at Hiking the World <i class="fas fa-globe-americas"></i></p>
		</div>

 <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="info">
          <div><img class="img" src="https://images.unsplash.com/photo-1545875589-7bacdcc464ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"></div>
          <div class="description">
            <h4 class="info-title">INSPIRATION</h4>
            <p class="description">
				Planning your next adventure? Get inspired by our unique collection of hikes from all around the world!
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info">
          <div><img class="img" src="https://images.unsplash.com/photo-1501555088652-021faa106b9b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80"></div>
          <div class="description">
            <h4 class="info-title">MEMORIES</h4>
            <p class="description">
				The best memories are meant to be shared! Share your favorite hikes and adventures with the world.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info">
          <div><img class="img" src="https://images.unsplash.com/photo-1467139701929-18c0d27a7516?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"></div>
          <div class="speech-bubble description">
            <h4 class="info-title">COMMUNITY</h4>
            <p class="description">
				Connect with other like-minded hiking enthusiasts, and find a hiking buddy for your next adventure!
            </p>
          </div>
        </div>
      </div>
  </div>
</div>
	<hr>
	<p class="about">
		<a class="link" href="/hikes">Start Your Adventure!</a>
	</p>
</div>

<%- include("./partials/footer") %>